$main_font:'recoletasemibold';
$main_color: #163A24;
$minor_font:'noto_sansregular';
$minor_color:#FBFAF7;

@mixin flexbox() {
  display: flex;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'recoletasemibold';
  src: url('../fonts/recoleta-semibold-webfont.eot');
  src: url('../fonts/recoleta-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/recoleta-semibold-webfont.woff2') format('woff2'),
  url('../fonts/recoleta-semibold-webfont.woff') format('woff'),
  url('../fonts/recoleta-semibold-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sansregular';
  src: url('../fonts/notosans-regular-webfont.eot'),
  url('../fonts/notosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/notosans-regular-webfont.woff2') format('woff2'),
  url('../fonts/notosans-regular-webfont.woff') format('woff'),
  url('../fonts/notosans-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
  background: $main_color;
}
main{
  background-color: white;
}
header{
  background: $main_color;
  padding-bottom: 20px;
  padding-top: 20px;
  .container{
    max-width:1180px ;
    margin: auto;
    @include flexbox;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  nav{
    ul{
      @include flexbox;
      justify-content:end;
      list-style: none;
      li{
        margin-right:24px;
        a{
          font-family: $minor_font;
          color: $minor_color;
          text-align: right;
          font-family: $minor_font;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-decoration: none;
          .visual{
            border-radius: 160px;
            background: #198C36;
            padding-top:15px;
            padding-bottom:15px;
            padding-right:25px;
            padding-left:25px;
            margin-right:0px;
          }
        }
      }
    }
  }
}

.section_1{
  max-width: 100%;
  margin: auto;
  background: $main_color;
  background-image: url("images/image.png");
  .box{
    margin: auto;
    max-width:100%;
    @include flexbox;
    align-items: center;
    justify-content: center;
  }
  .pt_article{
    max-width:100%;
    padding-top:120px;
    padding-bottom:129px;
  }
  .caption{
    margin-bottom: 18px;
    color: $minor_color;
    font-family: $main_font;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 65.25px; /* 135.938% */
  }
  .subtitle{
    margin-right: 17px;
    color: $minor_color;
    font-family: $minor_font;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
  }
  .picture{
    flex-shrink: 0;
  }
}

.human{
  padding-top: 120px;
  .wrap_human{
    max-width: 984px;
    margin: auto;
    @include flexbox;
    padding: 0px 98px 0px 98px;
    justify-content: center;
    align-items: center;
    gap: 98px;
    h2{
      max-width: 325px;
      margin-bottom: 28px;
      color: $main_color;
      font-family: $main_font;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 54px; /* 112.5% */
    }
    p{
      max-width: 374px;
      color: $main_color;
      font-family: $minor_font;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px; /* 150% */
    }
  }
}

.box_all_parts{
  max-width: 984px;
  height: 423px;
  margin: auto;
  @include flexbox;
  padding: 0px 98px 0px 98px;
  justify-content: center;
  align-items: center;
  gap: 98px;
  h2{
    max-width: 376px;
    margin-bottom: 27px;
    color: $main_color;
    font-family: $main_font;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 112.5% */
  }
  p{
    max-width:380px ;
    color: $main_color;
    font-family: $minor_font;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
  }
}


.we_partners{
  padding-top: 114px;
  padding-bottom: 121px;
  max-width: 100%;
  margin: auto;
  .box_a{
    max-width: 1180px;
    margin: auto;
  }
  .subject{
    margin-bottom: 67px;
    color: $main_color;
    text-align: center;
    font-family: $main_font;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 112.5% */
  }
  .box_2{
    @include flexbox;
    height: 60px;
    justify-content:space-between;
    align-items: center;
  }
  .m_link{
    margin-right:66px;
    text-decoration: none;
  }
}



.hr_section{
  background: $main_color;
  max-width: 100%;
  margin: auto;
  padding-top: 66px;
  padding-bottom: 120px;
  .box_hr{
    max-width:100%;
    margin: auto;
    text-align: center;
    .headline{
      margin-bottom: 74px;
      color: $minor_color;
      text-align: center;
      font-family: $main_font;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 54px; /* 112.5% */
    }
    .owl-carousel .owl-item img{
      max-width: 245px;
      width: auto;
      display: inline-block;
      .content{
        display:inline-block;
        width: 295px;
        height: 239px;
        flex-shrink: 0;
        .text{
          color: $minor_color;
          text-align: center;
          font-family: $minor_font;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 27px; /* 150% */
        }
      }
      .content_2{
        display: inline-block;
        width: 295px;
        height: 254px;
        flex-shrink: 0;
      }
      .content_3{
        display: inline-block;
        align-items: center;
        justify-content: center;
        width: 295px;
        height: 244px;
        flex-shrink: 0;
      }
    }
  }
}


.focus_section{
  max-width: 100%;
  margin: auto;
  padding-top: 114px;
  padding-bottom:135px;
  background: #F2EFE6;
  .wrap{
    max-width:1180px;
    margin: auto;
    display:block;
    text-align: center;
    .focus_headline{
      color: $main_color;
      text-align: center;
      font-family: $main_font;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 54px; /* 112.5% */
    }
    .focus_subtitle{
      color: $main_color;
      text-align: center;
      font-family: $minor_font;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px; /* 150% */
    }
  }
}


.fit_together{
  padding-top:180px ;
  padding-bottom:114px ;
  h2{
    max-width:338px;
    margin-bottom: 27px;
    color: $main_color;
    font-family: $main_font;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 112.5% */
  }
  p{
    max-width:379px;
    color: $main_color;
    font-family: $minor_font;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
  }
  img{
    max-width: 492px;
    margin: auto;
    flex-shrink: 0;
  }
  .together{
    max-width: 1180px;
    margin: auto;
    padding-left:98px;
    padding-right: 98px;
    flex-shrink: 0;
    @include flexbox;
    justify-content:space-between;
    align-items: center;
    gap: 98px;
  }
}


.consider{
  padding-bottom:120px;
  .consider_box{
    @include flexbox;
    flex-direction:column;
  }
  article{
    width: 353px;
    flex-shrink: 0;
    border-radius: 15px;
    background: $minor_color;
    box-shadow: 5px 5px 20px 0px #E9E4D5;
    padding-top: 50px;
    padding-left: 40px;
    padding-bottom: 51px;
    img{
      padding-bottom:20px;
    }
    li{
      color: $main_color;
      font-family: $minor_font;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      list-style-type: disc;
      padding-bottom:15px;
    }
    h2{
      padding-bottom:23px;
    }
}
  .consider_wrap{
    margin: auto;
    h2{
      margin-bottom:26px;
      color: $main_color;
      text-align: center;
      font-family: $main_font;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 54px; /* 112.5% */
    }
    p{
      margin-bottom: 18px;
      color: $main_color;
      text-align:center;
      font-family: $minor_font;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px; /* 150% */
    }
  }
  .box_articles{
    @include flexbox;
    padding: 0px 20px;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    .article_title{
      color: $main_color;
      font-family: $main_font;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px; /* 112.5% */
    }
  }
}


.easy{
  background: #F2EFE6;
  padding-top: 114px;
  padding-bottom: 124px;
  .easy_wrapper{
    @include flexbox;
    justify-content: center;
    max-width: 1180px;
    margin: auto;
    flex-direction:column;
    align-items: center;
    gap: 26px;
  }
  h2{
    margin-bottom: 26px;
    color: $main_color;
    text-align: center;
    font-family: $main_font;
    font-size: 47px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 114.894% */
  }
  p{
    margin-bottom: 18px;
    color: $main_color;
    text-align: center;
    font-family: $minor_font;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
  }
  .easy_box{
    max-width: 100%;
    margin: auto;
    @include flexbox;
    gap: 140px;
    align-items: center;
    p{
      color: $main_color;
      text-align: center;
      font-family: $minor_font;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px; /* 150% */
    }
    h2{
      color: $main_color;
      text-align: center;
      font-family: $main_font;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px; /* 112.5% */
    }
  }
  .catalog{
    margin-bottom: 13px;
    position:relative;
  }
  .easy_5min::after{
    content: url(../images/arrow_top.png);
    display: inline-block;
    position: absolute;
    top: 45%;
    right: 67%;
  }
  .easy_24h::before {
    content: url(../images/arrow_down.png);
    display:inline-block;
    position: absolute;
    top: 45%;
    right: 30%;
  }
  .price{
    text-align: center;
    display: block;
    box-sizing: border-box;
    padding: 28px;
    .back {
      width: 290px;
      background-image: url(../images/background.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size:100%;
    }
  }
  .book_link{
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 160px;
    background: #198C36;
    height: 52px;
    color: $minor_color;
    text-align: center;
    font-family: $minor_font;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin: auto;
    @include flexbox;
    justify-content: center;
    align-items: center;
  }
}





.resource{
  padding-top: 120px;
  padding-bottom: 120px;
  margin: auto;
  .box_resource{
    max-width: 1000px;
    margin: auto;
    @include flexbox;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
  }
  .caption_text {
    color: $main_color;
    font-family: $main_font;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    margin-bottom: 20px;
  }
  .simple_text{
    color: $main_color;
    font-family: $main_font;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 20px;
  }
  .box_download{
    border-radius: 160px;
    background: #198C36;
    padding: 15px 20px;
    width: 191px;
    .download_link{
      color: $minor_color;
      font-family: $main_font;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
      margin: auto;
      @include flexbox;
      justify-content: center;
      align-items: center;
    }
  }
}

.get_started{
  @include flexbox;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
  padding-top: 20px;
  background: $main_color;
  .get_container h2 {
    font-family: $main_font;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: $minor_color;
  }
  .get_container p{
    font-family: $minor_font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: $minor_color;
    margin-top: 26px;
  }
  .get_link{
    text-align: center;
    a{
      display: inline-block;
      margin-top: 18px;
      font-family: $minor_font;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: $main_color;
      background: #FAB5A0;
      border-radius: 160px;
      padding: 15px 25px;
      text-decoration: none;
    }
  }
  .cd-3d-nav-trigger {
    display: none;
  }
}

.stay_up {
  background: #F2EFE6;
  padding-top: 60px;
  padding-bottom: 60px;

  article {
    max-width: 1180px;
    margin: auto;@include flexbox;
    justify-content: space-between;

    .date_box, .sign_up_box {
      max-width: 590px;
    }

    .date_box {
      h3 {
        font-family: $main_font;
        font-weight: 600;
        font-size: 48px;
        line-height: 112%;
        color: $main_color;
        max-width: 342px;
        padding-bottom: 26px;
      }

      p {
        font-family: $minor_font;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: $main_color;
        max-width: 299px;
      }
    }

    .sign_up_box {
      p {
        font-family: $minor_font;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: $main_color;

        a {
          font-family: $minor_font;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          color: #198c36;
          text-decoration: none;
        }
      }
    }
  }
}

.card_fo {
  padding-top: 20px;
  background-color: white;

  .people_company {
    padding-top: 23px;
    padding-bottom: 23px;
    align-items: center;

    ul {
      list-style-type: none;
      display: flex;
      align-items: end;

      li:last-of-type,
      li:nth-child(2),
      li:nth-child(3) {
        padding-left: 14px;
      }

      img {
        margin-right: 20px;
      }

      li::marker {
        content: "";
        width: 0;
        height: 0;
        color: transparent;
      }
    }

    p {
      font-family: $main_font;
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      text-align: center;
      color: $main_color;
    }
  }
}

.content_end {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;

  div {
    max-width: 1180px;
    margin: auto;
    @include flexbox;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 14px;
    padding-top: 14px;
    border-top: $minor_color solid 3px;

    ul {
      list-style-type: none;
      @include flexbox;


      a {
        text-decoration: none;
        font-family: $minor_font;
        font-weight: 400;
        font-size: 14px;
        text-align: right;
        color: #198c36;
      }
    }
  }
}

.sign_up_box form {
  max-width: 590px;
  background: #F2EFE6;
  border-radius: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  margin-bottom: 11px;

  input {
    width: calc(100% - 40px);
    height: inherit;
    border: none;
    border-radius: 30px;
    padding-left: 20px;
    margin-right: -40px;
  }

  button {
    border: none;
    border-radius: 30px;
    width: 111px;
    height: 52px;
    background: #15762e;
    font-family: $minor_font;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: $minor_color;
  }
}

