*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background: #163A24;
    padding-bottom: 20px;
    padding-top: 20px;
}
.container{
    max-width:1180px ;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
header nav ul{
    display: flex;
    justify-content: end;
    list-style: none;
}
header nav li{
    margin-right:24px;
}
header nav li a{
    font-family: 'Noto Sans', sans-serif;
    color: #FBFAF7;
    text-align: right;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.visual{
    border-radius: 160px;
    background: #198C36;
    padding-top:15px;
    padding-bottom:15px;
    padding-right:25px;
    padding-left:25px;
    margin-right: 0px;
}
.section_1{
    max-width: 100%;
    margin: auto;
    background: #163A24;
    background-image: url("images/image.png");
}
.box{
    margin: auto;
    max-width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pt_article{
    max-width:100%;
    padding-top:120px;
    padding-bottom:129px;
}
.caption{
        margin-bottom: 18px;
        color: #FBFAF7;
        font-family: Recoleta;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 65.25px; /* 135.938% */
    }
    .subtitle{
        margin-right: 17px;
        color: #FBFAF7;
        font-family: Noto Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px; /* 150% */
    }
    .picture{
        flex-shrink: 0;
    }
    .we_partners{
        padding-top: 114px;
        padding-bottom: 121px;
        max-width: 100%;
        margin: auto;
    }
    .box_a{
        max-width: 100%;
        margin: auto;
        box-sizing: border-box;
    }
    .subject{
        margin-bottom: 67px;
        color: #163A24;
        text-align: center;
        font-family: Recoleta;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 54px; /* 112.5% */
    }
    .box_2{
        max-width:100%;
        margin: auto;
        display:table;
        height: 60px;
        padding: 0px 44px 0px 44px;
        justify-content: center;
        align-items: center;
        gap: 86px;
    }
    .m_link{
        margin-right:86px;
        text-decoration: none;
    }
    .hr_section{
        background: #163A24;
        max-width: 100%;
        margin: auto;
        padding-top: 66px;
        padding-bottom: 120px;
    }
    .box_hr{
        max-width:100%;
        margin: auto;
        text-align: center;
    }
    .headline{
        margin-bottom: 74px;
        color: #FBFAF7;
        text-align: center;
        font-family: Recoleta;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 54px; /* 112.5% */
    }
.content{
    display:inline-block;
    width: 295px;
    height: 239px;
    flex-shrink: 0;"
}
.text{
    color: #FBFAF7;
    text-align: center;
    font-family: Noto Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
}
.content_2{
    display: inline-block;
    width: 295px;
    height: 254px;
    flex-shrink: 0;
}
.content_3{
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 295px;
    height: 244px;
    flex-shrink: 0;
}
.focus_section{
    max-width: 100%;
    margin: auto;
    padding-top: 114px;
    padding-bottom:135px;
    background: #F2EFE6;
}
.wrap{
    max-width: 100%;
    margin: auto;
    display:block;
    text-align: center;
}
.focus_headline{
    color: #163A24;
    text-align: center;
    font-family: Recoleta;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 112.5% */
}
.focus_subtitle{
    color: #163A24;
    text-align: center;
    font-family: Noto Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
}


































































